<!DOCTYPE html>
<html lang="en" ng-app="homewardBound">
  <head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/AvailableAnimalsController.js"></script>
    <script src="controllers/AdoptedAnimalsController.js"></script>
    <script src="services/AnimalsFactory.js"></script>

    <title>Homeward Bound</title>
  </head>
  <body>
    <div class="container">

      <div ng-controller="AvailableAnimalsCtrl">

        <div class="row">
          <div class="col-md-8">
            <h1>Homeward Bound</h1>
          </div>
          <div class="col-md-4" ng-show="animals.length">
            <h4>Search Animals</h4>
            <form class="form-inline" role="form">
              <div class="form-group">
                <input ng-model="query" type="text" class="form-control" placeholder="Search">
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>New Pet</h3>
            <form ng-submit="AnimalsFactory.addAnimal()" class="form-inline" role="form">
              <div class="form-group">
                <input type="text" ng-model="AnimalsFactory.petName" class="form-control input-sm" placeholder="Nickname" required>
                <select ng-model="AnimalsFactory.petSpecies" class="form-control input-sm">
                  <option value="" style="display:none">Species</option>
                  <option value="Dog">Dog</option>
                  <option value="Cat">Cat</option>
                  <option value="Small Mammal">Small Mammal</option>
                  <option value="Bird">Bird</option>
                  <option value="Reptile/Amphibian">Reptile/Amphibian</option>
                </select>
                <input type="text" ng-model="AnimalsFactory.petBreed" class="form-control input-sm" placeholder="Breed(s)">
                <input type="text" ng-model="AnimalsFactory.petColor" class="form-control input-sm" placeholder="Color/Markings">
                <input type="text" ng-model="AnimalsFactory.petAge" class="form-control input-sm" placeholder="Age">
                <button type="submit" class="btn btn-info btn-sm">Submit</button>
              </div>
            </form>
          </div>
        </div>

        <div class="row" ng-controller="AdoptedAnimalsCtrl">
          <div class="col-md-6">
            <h3 ng-show="animals.length && filtered.length">Available</h3>
            <h3 ng-show="animals.length && !filtered.length">No Available Pets</h3>
            <ul>
              <li ng-repeat="item in filtered = (animals | filter:query | filter:{adopted: false})">
                <span ng-hide="editing">
                  {{item.name}} - {{item.species}} - {{item.breed}} - {{item.color}} - {{item.age}} | <a ng-click="addAnimalToAdoptedList(item)"><span class="glyphicon glyphicon-home"></span></a> <a ng-click="editing = true"><span class="glyphicon glyphicon-cog"></span></a> <a ng-click="AnimalsFactory.deleteAnimal(item)"><span class="glyphicon glyphicon-remove"></span></a>
                </span>
                <span class="form-group" ng-show="editing" ng-submit="editing = false">
                  <form class="form-inline" role="form">
                    <input type="text" class="form-control input-sm" ng-model="item.petName" placeholder="Edit nickname">
                    <select ng-model="item.petSpecies" class="form-control input-sm" size="6">
                      <option value="" style="display:none">Species</option>
                      <option value="Dog">Dog</option>
                      <option value="Cat">Cat</option>
                      <option value="Small Mammal">Small Mammal</option>
                      <option value="Bird">Bird</option>
                      <option value="Reptile/Amphibian">Reptile/Amphibian</option>
                    </select>
                    <input type="text" class="form-control input-sm" ng-model="item.petBreed" placeholder="Edit breed">
                    <input type="text" class="form-control input-sm" ng-model="item.petColor" placeholder="Edit color/markings">
                    <input type="text" class="form-control input-sm" ng-model="item.petAge" placeholder="Edit age">
                    <button class="btn btn-default btn-sm" type="submit">Save</button>
                  </form>
                </span>
              </li>
            </ul>
          </div>

          <div class="col-md-6" ng-show="animalsAdopted.length">
            <h3>Adopted</h3>
            <ul>
              <li ng-repeat="item in animalsAdopted = (animals | filter:{adopted: true})">
                {{item.name}} - {{item.species}} - {{item.breed}}
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
